class {{classname}} {
  {{#models}}
  {{#model}}
  {{#allVars}}
  public var {{name}}(default, set): {{^required}}Null<{{/required}}{{dataType}}{{^required}}>{{/required}};
  {{/allVars}}
  {{/model}}
  {{/models}}

  public function new({{#models}}{{#model}}{{#allVars}}{{^required}}?{{/required}}{{name}}: {{dataType}}{{#hasMore}}, {{/hasMore}}{{/allVars}}{{/model}}{{/models}}) {
    {{#models}}
    {{#model}}
    {{#allVars}}
    this.{{name}} = {{name}};
    {{/allVars}}
    {{/model}}
    {{/models}}
  }

  {{#models}}
  {{#model}}
  {{#allVars}}
  public function set_{{name}}(value: {{dataType}}) {
    {{! add validation here }}
    {{#hasValidation}}
    {{#maximum}}
    if (value > {{maximum}}) {
      throw "Value cannot be more than ${{{maximum}}}";
    }
    {{/maximum}}
    {{#maxItems}}
    if (value.length > {{maxItems}}) {
      throw "Value cannot contain more than {{maxItems}} elements";
    }
    {{/maxItems}}
    {{#maxLength}}
    if (value.length > {{maxLength}}) {
      throw "Value cannot be longer than {{maxLength}}";  {{!fix escaping}}
    }
    {{/maxLength}}
    {{#minimum}}
    if (value < {{minimum}}) {
      throw "Value cannot be less than {{minimum}}";
    }
    {{/minimum}}
    {{#minItems}}
    if (value.length > {{minItems}}) {
      throw "Value cannot contain less than {{minItems}} elements";
    }
    {{/minItems}}
    {{#minLength}}
    if (value.length < {{minLength}}) {
      throw "Value cannot be shorter than {{minLength}}";
    }
    {{/minLength}}
    {{#pattern}}
    var pattern = {{pattern}};  {{!check this}}
    if (!pattern.match(value)) {
      throw "${value} does not match pattern: {{pattern}}"
    }
    {{/pattern}}
    {{/hasValidation}}
    return {{name}} = value;
  }

  {{/allVars}}
  {{/model}}
  {{/models}}
  public function validate(): Void {
    // you can do your custom validation here
  }

  public static function fromDynamic(data: Dynamic): Null<{{classname}}> {
    if (data == null) {
      return null;
    }
    {{#models}}
    {{#model}}
    {{#allVars}}
    {{#isListContainer}}
    var {{name}}: Array<{{#items}}{{dataType}}{{/items}}> = [];
    if (Reflect.field(data, "{{name}}") != null) {
      for (item in cast(data.{{name}}, Array<Dynamic>)) {
        {{name}}.push({{#items}}{{#isPrimitiveType}}cast(item, {{dataType}}){{/isPrimitiveType}}{{^isPrimitiveType}}{{dataType}}.fromDynamic(item){{/isPrimitiveType}}{{/items}});
      }
    }
    {{/isListContainer}}
    {{^isListContainer}}
    var {{name}}: {{dataType}} = {{#isPrimitiveType}}cast({{/isPrimitiveType}}{{^isPrimitiveType}}{{dataType}}.fromDynamic({{/isPrimitiveType}}{{#required}}data.{{name}}{{/required}}{{^required}}Reflect.field(data, "{{name}}"){{/required}}{{#isPrimitiveType}}, {{^isEnum}}{{dataType}}{{/isEnum}}{{#isEnum}}{{nameInCamelCase}}{{/isEnum}}{{/isPrimitiveType}});
    {{/isListContainer}}
    {{/allVars}}
    {{/model}}
    {{/models}}
    var obj = new {{classname}}({{#models}}{{#model}}{{#allVars}}{{name}}{{#hasMore}}, {{/hasMore}}{{/allVars}}{{/model}}{{/models}});
    obj.validate();
    return obj;
  }

  public function toDynamic(): Dynamic {
    return {
      {{#models}}
      {{#model}}
      {{#allVars}}
      {{name}}: {{^required}}if (Reflect.hasField(this, "{{name}}")) {{/required}}{{#isPrimitiveType}}this.{{name}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{dataType}}.toDynamic(){{/isPrimitiveType}}{{^required}} else null{{/required}}{{#hasMore}},{{/hasMore}}
      {{/allVars}}
      {{/model}}
      {{/models}}
    };
  }

  public function toString(): String {
    return haxe.Json.stringify(this.toDynamic());
  }
}


{{! Saving inline enums into the same file, because otherwise there might be a name collisions }}
{{#models}}
{{#model}}
{{#allVars}}
{{#isEnum}}
enum abstract {{nameInCamelCase}}({{dataType}}) to {{dataType}} from {{dataType}} {
  {{#allowableValues}}
  {{#enumVars}}
  var {{name}} = {{{value}}};
  {{/enumVars}}
  {{/allowableValues}}
}
{{/isEnum}}
{{/allVars}}
{{/model}}
{{/models}}
