enum abstract {{classname}}({{dataType}}) from {{dataType}} to {{dataType}} {
  {{#allowableValues}}
  {{#values}}
  var {{this}} = {{#isString}}"{{/isString}}{{this}}{{#isString}}"{{/isString}};
  {{/values}}
  {{/allowableValues}}

  public static function fromDynamic(d: Dynamic): {{classname}} {
    return cast(d, {{classname}});
  }

  public function toDynamic(): Dynamic {
    return this;  {{! not sure if this is a good way}}
  }

  public function toString(): String {
    return this;
  }
}
